h1 {
  color: blue;
  font-size: 5em;
  letter-spacing: 0.1em;
}

body {
  background: #ceebfd;
}

.food-form {
  margin-top: 80px;
}

.add-button {
  margin-top: 60px;
  margin-left: 10px;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50px;
  margin-right: 20px;
  font-size: 24px;
  background: red;
  color: white;
}



p {
  font-weight: 300;
}
